:root {
    --soft_red: #e06c75;
    --soft_black: #151413;
    --soft_gray: #191817;
    --soft_white: #BBBBBB;
    --link_blue: #61afef;
    --code_green: #98c379;
}

@font-face {
    font-family: "ComicMono";
    src: url("./assets/fonts/ComicMono.ttf");
}
@font-face {
    font-family: "ComicMono-Bold";
    src: url("./assets/fonts/ComicMono-Bold.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--soft_gray);
/*   background: linear-gradient(0deg, var(--soft_white) 40%, var(--soft_black) 40%); */
    font-family: "ComicMono";
    color: var(--soft_white);
    min-height: 100vh;
    font-size: small;
    display: flex;
    flex-flow: column;
}

ol {
  list-style: none;
}

li,p {
   margin-top: 0.6em;
   margin-left: 1em;
   line-height: 1.5em;
}

h1,h2,h3,h4 {
	margin: 1% 0% 1% 0%;
}

hr {
	margin: 1% 0% 1% 0%;
}


#canvas-container {
    text-align: center;
}

#copyright-container {
    font-size: small;
    opacity: 0.5;
    text-align: center;
}

#changelog h1 {
    margin: 2% 0% 0% 0%;
}

#changelog h2 {
    margin: 2% 0% 0% 0%;
}

#changelog h3{
    margin: 1% 0% 0% 0%;
}

#activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-container{
    @media only screen and (min-width: 900px) {
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 22%;
    }
    @media only screen and (max-width: 900px) {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    flex: 1;
    overflow: auto;
}

.right-left-margin-container{
    margin-left: 10%;
    margin-right: 10%;
}
.card {
    border: 1px solid var(--soft_white);
    background-color: var(--soft_black);
    text-align: center;
    margin: 0.25em;
}

@media only screen and (max-width: 600px) {
    .card {
         width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .card {
         width: 600px;
    }
}

.fancy-header {
    font-family: "ComicMono-Bold";
    color: var(--soft_red);
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

.sub-header {
    font-family: "ComicMono-Bold";
    margin-top: 0.5em;
    color: var(--soft_white);
    text-align: center;
}

.navbar{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
 /*background: var(--soft_gray);*/
  width: 100%;
}

.navbar a {
   margin-top: 0.2em;
   margin-left: 0.4em;
}

#navbar-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#profile {
  max-width: 5.5em;
  align-self: flex-end;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-left: auto;
}

.bleah {
    margin: 1em 0em 1em 0em;
}



a {
    color: var(--link_blue);
}

