<ul>
    <li><a href="https://handmade.network/p/615/cvm/">CVM</a> -- VM for a handful of ARM64 instructions.</li>
    <li><a href="https://github.com/calebarg/small-planet">Small Planet</a> -- Colony management game.</li>
    <li><a href="https://github.com/calebarg/vkcalc">vkcalc</a> -- Calculator inside a compute shader using vulkan graphics api.</li>
    <li><a href="https://calebarg.itch.io/twr-defns">Twr Defns</a> -- Isometric tower defense game.</li>
    <li><a href="/protex.html">Protex (no longer maintained)</a> -- Programmable text classifier and extractor.</li>
</ul>
